.Section9 {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 700px;
    background: rgb(43, 43, 43);
    color: #F2F2EE;
}

.Section9 > svg {
    margin-left: 12%;
    margin-top: 20px;
    float: left;
}

.Section9-title {
    width: 40%;
    height: 520px;
    margin-left: 55%;
    padding-top: 85px;
}

.Section9-title > h1,
.Section9-title > h2,
.Section9-title > h3,
.Section9-title > h4 {
    padding: 0;
    margin: 0;
}

.Section9-title > h1 {
    font-size: 50px;
}

.Section9-title > h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.Section9-title > h3 {
    font-size: 16px;
}

.Section9-title > h4 {
    font-size: 14px;
    color: #b2b2af;
    margin-top: 10px;
}

.Section9-title > #Section9-slider {
    margin-top: 30px;
    width: 460px;
    border-radius: 10px;
    background: #F2F2EE;
}

.Section9-title > #Section9-slider > svg > g > g > g > text {
    font-size: 12px;
    fill: rgb(43, 43, 43);
}

.Section9-title > #Section9-slider-button {
    border: none;
    border-radius: 10px;
    width: 460px;
    background: rgb(98, 98, 98);
    color: #F2F2EE;
    margin-top: 10px;
    padding: 6px 0;
    transition: background-color 0.3s;
}

.Section9-title > #Section9-slider-button:hover {
    background: #F2F2EE;
    color: rgb(43, 43, 43);
    cursor: pointer;
}

.Section9-title > .Legend {
}